html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}



.gradient {
    background: rgb(255,244,0);
background: linear-gradient(90deg, rgba(255,244,0,1) 0%, rgba(176,255,0,1) 100%);
}


.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color:azure

}
.feature{
    color:white
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}